name: Cypress Tests fonctionnel du tableau de bord

on:
  push:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      TERM: xterm

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Python libraries
        run: |
          python -m pip install --upgrade pip
          pip install streamlit joblib pytest scikit-learn

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Cypress
        run: |
          npm install cypress --save-dev
          npm install -g wait-on

      - name: Run Streamlit app
        run: |
          streamlit run model_dashboard.py &
          sleep 15
          
      - name: Wait for Streamlit
        run: wait-on http://localhost:8501

      - name: Run Cypress tests
        run: npx cypress run --config-file cypress.config.js
